# Environment files
.env
.env.*
!/.env.example

# Local directories
/workspace/
/mcp-logs/
.venv/
pbr_outputs/

# IDE/Editor specific files
.vscode/
.idea/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Build artifacts
/dist/
/build/
*.egg-info/
gui-based-tools-docker/blender-4.5.1-linux-x64.tar.xz

# Log files
*.log
multi-agent-docker/
workspace/